/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #5d636b; 
}

h1 {
	color: #32373e;
	font: 600 2.5rem/3.25rem "Poppins", sans-serif;
}

h2 {
	color: #32373e;
	font: 600 2.125rem/2.75rem "Poppins", sans-serif;
}

h3 {
	color: #32373e;
	font: 600 1.75rem/2.375rem "Poppins", sans-serif;
}

h4 {
	color: #32373e;
	font: 600 1.5rem/2.125rem "Poppins", sans-serif;
}

h5 {
	color: #32373e;
	font: 600 1.25rem/1.75rem "Poppins", sans-serif;
}

h6 {
	color: #32373e;
	font: 600 1rem/1.5rem "Poppins", sans-serif;
}

.p-large {
	line-height: 1.75rem;
}

.p-small {
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #5d636b;
	text-decoration: none;
}

a:hover {
	color: #5d636b;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

/* colors */
.orange {
	color: #EC6953;
}

.white {
	color: #fff;
}

.light-blue {
	color: #01a9b4
}

.dark-blue {
	color: #010038;
}


.bg-gray {
	background-color: #f7fcfd;
}

/*store buttons*/
.flex {
	display: flex;
	align-items: center;
	justify-content: left;
}
.app-btn {
	width: 45%;
	max-width: 160px;
	color: #fff;
	margin: 20px 10px;
	text-align: left;
	border-radius: 5px;
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
}
.app-btn.blu {
	padding-left: 10px;
	border: 1px solid #EC6953;
	border-radius: 32px;
	background-color: #EC6953;
	text-decoration: none;
}
.app-btn.blu:hover {
	border: 1px solid #EC6953;
	background-color: transparent;
	color: #EC6953;
	text-decoration: none;
}

.app-btn.bla {
	padding-left: 10px;
	border: 1px solid #01a9b4;
	border-radius: 32px;
	background-color: #01a9b4;
	text-decoration: none;
	color: #fff;
}
.app-btn.bla:hover {
	border: 1px solid #01a9b4;
	border-radius: 32px;
	background-color: transparent;
	color: #01a9b4;
	text-decoration: none;
}

.app-btn i {
	width: 20%;
	text-align: center;
	font-size: 28px;
	margin-right: 7px;
}
.app-btn .big-txt {
	font-size: 17px;
	text-transform: capitalize;
}

.btn-txt {
	margin-top: 15px;
	color: #fff
}
/*end of store buttons*/

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #EC6953;
	border-radius: 32px;
	background-color: #EC6953;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #EC6953;
	background-color: transparent;
	color: #EC6953;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 1px solid #EC6953;
	border-radius: 32px;
	background-color: #EC6953;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid #EC6953;
	background-color: transparent;
	color: #EC6953;
	text-decoration: none;
}

.btn-extra-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 1px solid #fff;
	border-radius: 32px;
	background-color: #fff;
	color: #01a9b4;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-extra-lg:hover {
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #32373e;
	border-radius: 32px;
	background-color: transparent;
	color: #32373e;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	border: 1px solid #32373e;
	background-color: #32373e;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 1px solid #32373e;
	border-radius: 32px;
	background-color: transparent;
	color: #32373e;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	border: 1px solid #32373e;
	background-color: #32373e;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #32373e;
	border-radius: 32px;
	background-color: transparent;
	color: #32373e;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	border: 1px solid #32373e;
	background-color: #32373e;
	color: #ffffff;
	text-decoration: none;
}

.btn-action {
    border-radius: 32px;
	background-color: #01a9b4;
	text-decoration: none;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.btn-action:hover {
    border-radius: 32px;
	background-color: #fff;
    color: #01a9b4;
	text-decoration: none;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #010038;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
	margin-bottom: 0;
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 111px;
	height: 30px;
}

.navbar .logo-text {
	color: #EC6953;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.navbar .logo-text:hover {
	color: #fff;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #32373e;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #EC6953;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #32373e;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #00bfd8;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #e6e3e3;
}
/* end of dropdown menu */

.navbar .social-icons {
	display: block;
}

.navbar .fa-stack {
	width: 2em;
	margin-top: 0.25rem;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	color: #EC6953;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: #ffffff;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #EC6953;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 7rem;
	padding-bottom: 3rem;
	background-color: #010038;
	background-size: cover; 
	text-align: center;
}

.header .text-container {
	margin-bottom: 4rem;
    text-align: center;
}

.header h1 {
	margin-bottom: 1rem;
}

.header .p-large {
	margin-bottom: 2.125rem;
}

.col-lg-6 .image-container {
	text-align: center;
}

.col-lg-6 .image-container img{
	width: 100%;
	max-width: 300px;
    height: auto;
    margin-top: 20px;
}

.col-sm-4 .card {
	text-align: center;
    margin-bottom: 10px;
}

.col-sm-4 .card img{
	width: 100%;
	max-width: 80px;
    height: auto;
}


/********************/
/*     Services     */
/********************/
.cards-1 {
	padding-top: 5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

.cards-1 .h2-heading {
	margin-bottom: 0.75rem;
}

.cards-1 .p-heading {
	margin-bottom: 3.75rem;
}

.cards-1 .card {
	max-width: 330px;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
	padding: 3.5rem 1rem 2rem 1rem;
	border: 1px solid #c4d8dc;
	border-radius: 8px;
}

.cards-1 .card-image {
	width: 100px;
	height: 100px;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
}

.cards-1 .card-title {
	margin-bottom: 0.5rem;
}

.cards-1 p {
	margin-bottom: 0;
}


/*********************/
/*     Details 1     */
/*********************/
.basic-1 {
	padding-top: 2.25rem;
	padding-bottom: 3.875rem;
}

.basic-1 .text-container {
	margin-bottom: 4rem;
}

.basic-1 h2 {
	margin-bottom: 1.625rem;
}

.basic-1 p {
	margin-bottom: 1.875rem;
}

/*********************/
/*     Details 2     */
/*********************/
.basic-2 {
	padding-top: 3.875rem;
	padding-bottom: 3.75rem;
}

.basic-2 .image-container {
	margin-bottom: 3.25rem;
}

.basic-2 h2 {
	margin-bottom: 1.625rem;
}

.basic-2 .list-unstyled {
	margin-bottom: 1.875rem;
}

.basic-2 .list-unstyled .fas {
	color: #00bfd8;
	font-size: 0.875rem;
	line-height: 1.625rem;
}

.basic-2 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.basic-2 .btn-solid-reg {
	margin-right: 0.5rem;
}

/******************/
/*     Action     */
/******************/

#action {
    background-color: #e5e5e5;
    padding: 30px;
}

/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 4.75rem;
	padding-bottom: 1rem;
	border-top: 1px solid #dbeef2;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #7a848d;
}

.footer p,
.footer a,
.footer ul {
	color: #7a848d;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
    color: #ffffff;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #EC6953;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #EC6953;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
    color: #ffffff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #7a848d;
	text-decoration: none;
}

/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 9.5rem;
	}

	.social-btns {
		justify-content: center;
	}
	/* end of header */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h1-large {
		font-size: 3rem;
		line-height: 3.75rem;
	}

	.h2-heading {
		width: 31.875rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 42.5rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1rem;
        padding-bottom: 1rem;
		background-color: #010038;
		box-shadow: none;
		transition: all 0.2s;
		margin-bottom: 0;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #ffffff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
		color: #ffffff;
	}

	.navbar.top-nav-collapse .nav-item .nav-link {
		color: #32373e;
	}

	.navbar.top-nav-collapse .nav-item.dropdown.show .nav-link,
	.navbar.top-nav-collapse .nav-item .nav-link:hover,
	.navbar.top-nav-collapse .nav-item .nav-link.active {
		color: #EC6953;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		background-color: #ffffff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */
	

	/* Header */
	.header {
		background-position: center;
		text-align: left;
	}

	.header .text-container {
		margin-bottom: 0;
	}
	/* end of header */

	
	/* Services */
	.cards-1 .card {
		display: inline-block;
		max-width: 100%;
		width: 302px;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 0.375rem;
		margin-left: 0.375rem;
	}
	/* end of services */


	/* Details 1 */
	.basic-1 .text-container {
		margin-top: 1.875rem;
		margin-bottom: 0;
	}

	.basic-1 h2 {
		width: 24.375rem;
	}
	/* end of details 1 */

	/* Details 2 */
	.basic-2 .image-container {
		margin-bottom: 0;
	}

	.basic-2 .text-container {
		margin-top: 2rem;
	}

	.basic-2 h2 {
		width: 24.375rem;
	}
	/* end of details 2 */

	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */

}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Navigation */
	.navbar .container {
		max-width: 100%;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 12.5rem;
		padding-bottom: 7rem;
	}

	.header .text-container {
		margin-top: 3.5rem;
		margin-right: 4.75rem;
	}
	/* end of header */

	/* Services */
	.cards-1 .card {
		width: 330px;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 3.375rem;
		margin-left: 3.375rem;
	}
	/* end of services */


	/* Details 1 */
	.basic-1 .text-container {
		margin-top: 4.875rem;
		margin-right: 5.5rem;
	}
	/* end of details 1 */

	/* Details 2 */
	.basic-2 .text-container {
		margin-top: 4.25rem;
		margin-left: 5.5rem;
	}
	/* end of details 2 */

	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 7rem;
	}
	
	.footer .footer-col.second {
		margin-right: 5.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


}
/* end of min-width 1200px */

